<!doctype html>
<html>

  <head>
    <title>Initech Data Factory</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      body { padding-top: 80px; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Initech Data Factory</h1>
        <a href="/auth/qrypto" class="btn btn-success mb-3"><span class="fa fa-openid"></span> Log in with Qrypto</a>
      </div>
      <div class="text-center">
        <p>A demo by <a href="http://qryp.to">Qrypto</a>.</p>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

</html>
